package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.network

import retrofit2.http.GET
import retrofit2.http.Path
import retrofit2.http.Query

interface {{ENTITY_CLASS_NAME}}ApiService {
    @GET("pokemon")
    suspend fun getPokemonList(
        @Query("limit") limit: Int = 20,
        @Query("offset") offset: Int = 0
    ): PokemonListResponse

    @GET("pokemon/{id}")
    suspend fun getPokemon(@Path("id") id: Int): {{ENTITY_CLASS_NAME}}NetworkDto
}