// Data Source Implementation Template (DataSource Layer)
// TODO: Add specific data source implementation
package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource

import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.infrastructure.{{ENTITY_CLASS_NAME}}DataSource
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.models.{{ENTITY_CLASS_NAME}}
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.daos.{{ENTITY_CLASS_NAME}}Dao
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.dbdtos.{{ENTITY_CLASS_NAME}}DbDto
import javax.inject.Inject

class {{ENTITY_CLASS_NAME}}DataSourceImpl @Inject constructor(
    private val dao: {{ENTITY_CLASS_NAME}}Dao
) : {{ENTITY_CLASS_NAME}}DataSource {
    // TODO: Add data source implementation with DTO conversion
}