package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.infrastructure

import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.models.{{ENTITY_CLASS_NAME}}

interface {{ENTITY_CLASS_NAME}}sDataSource {
    suspend fun getAll(): List<{{ENTITY_CLASS_NAME}}>
}