package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.daos

import androidx.room.Dao
import androidx.room.Query
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.dbdtos.{{ENTITY_CLASS_NAME}}DbDto

@Dao
abstract class {{ENTITY_CLASS_NAME}}Dao {

    @Query("SELECT * FROM {{TABLE_NAME}}")
    abstract suspend fun getAll(): List<{{ENTITY_CLASS_NAME}}DbDto>
}