package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.datasource.network

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

@Serializable
data class {{ENTITY_CLASS_NAME}}NetworkDto(
    @SerialName("id")
    val id: Int,
    @SerialName("name") 
    val name: String,
    @SerialName("height")
    val height: Int,
    @SerialName("weight")
    val weight: Int,
    @SerialName("sprites")
    val sprites: SpritesDto,
    @SerialName("types")
    val types: List<TypeSlotDto>,
    @SerialName("abilities")
    val abilities: List<AbilitySlotDto>,
    @SerialName("stats")
    val stats: List<StatSlotDto>
)

@Serializable
data class SpritesDto(
    @SerialName("front_default")
    val frontDefault: String?
)

@Serializable  
data class TypeSlotDto(
    @SerialName("slot")
    val slot: Int,
    @SerialName("type")
    val type: TypeDto
)

@Serializable
data class TypeDto(
    @SerialName("name")
    val name: String,
    @SerialName("url")
    val url: String
)

@Serializable
data class AbilitySlotDto(
    @SerialName("slot")
    val slot: Int,
    @SerialName("ability")
    val ability: AbilityDto
)

@Serializable
data class AbilityDto(
    @SerialName("name")
    val name: String,
    @SerialName("url")
    val url: String
)

@Serializable
data class StatSlotDto(
    @SerialName("base_stat")
    val baseStat: Int,
    @SerialName("effort")
    val effort: Int,
    @SerialName("stat")
    val stat: StatDto
)

@Serializable
data class StatDto(
    @SerialName("name")
    val name: String,
    @SerialName("url")
    val url: String
)

@Serializable
data class PokemonListResponse(
    @SerialName("count")
    val count: Int,
    @SerialName("next")
    val next: String?,
    @SerialName("previous")
    val previous: String?,
    @SerialName("results")
    val results: List<PokemonListItemDto>
)

@Serializable
data class PokemonListItemDto(
    @SerialName("name")
    val name: String,
    @SerialName("url")
    val url: String
)