package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.usecases

import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.{{ENTITY_CLASS_NAME}}sRepository
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.models.{{ENTITY_CLASS_NAME}}
import kotlinx.coroutines.flow.Flow

class GetAll{{ENTITY_CLASS_NAME}}sUseCase(
    private val {{ENTITY_NAME}}sRepository: {{ENTITY_CLASS_NAME}}sRepository
) {
    operator fun invoke(): Flow<List<{{ENTITY_CLASS_NAME}}>> {
        return {{ENTITY_NAME}}sRepository.getAllSongs()
    }
}