package {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.usecases

import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.{{ENTITY_CLASS_NAME}}sRepository
import {{PACKAGE_NAME}}.{{ENTITY_NAME}}.domain.models.{{ENTITY_CLASS_NAME}}

class GetAll{{ENTITY_CLASS_NAME}}sUseCase(
    private val {{ENTITY_NAME}}sRepository: {{ENTITY_CLASS_NAME}}sRepository
) {

    suspend operator fun invoke(): List<{{ENTITY_CLASS_NAME}}> {
        return {{ENTITY_NAME}}sRepository.getAll()
    }
}